#generation {
    border-radius: 4rem;
    font-family: URW Chancery L, cursive;
}
#clear {
    border-radius: 4rem;
    font-family: URW Chancery L, cursive;
}
.card-title{
    font-family: Didot, serif;
}
#professionOutput {
    font-family: serif;
}
.info{
    font-family: 'Times New Roman', Times, serif;
}